<!--
TO INCLUDE:
    TITLE
        AUTHOR
        LICENCE
    OVERVIEW
    DATA STATS
        NUMBERS
        DATA
    NN STATS
        ACCURACY
        PRECISION
        LOSS
        RUNTIME PERFORMANCE
    USER GUIDE
        GUI (WEB/DESKTOP)
    REFERENCES
-->


<!-- <!DOCTYPE html>
<html>
<head>
    <title>Fake news detector - Report</title>
</head>
<body>
<h1> Catalog $title </h1>
<table border="1" cellspacing="0" cellpadding="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    #foreach ( $obj in $objs)
    <tr>
        <th>$obj.id</th>
        <th>$obj.name</th>
    </tr>
    #end
</table>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fake news detector</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">

</head>
<body>
<header>
    <h1>Fake news detector -Report</h1>
</header>

<div role="contentinfo">
    <dl>
        <dt>Licence</dt>
        <dd>
            <a href="./media-util/mit.txt">MIT License</a>
        </dd>
    </dl>
</div>
<section typeof="sa:Abstract" id="abstract" role="doc-abstract">
    <h2>Project description</h2>
    <p>
        Fake news detector is an application which uses deep learning
        for training a dataset which contains a collection of fake and
        correct news, and providing support for predicting whether an article
        (given by the user as input) is fake or not.
    </p>
</section>
<section id="structure">
    <h2>Structure</h2>
    <p>
        The projects consists of the following components:
    <li> Predicting the label (fake/true) of the user input (a link to an article)</li>
    <li> Visualizing data about the neuronal network, training process, etc.</li>
    </p>
    <h2>Technologies</h2>
    <section>

        <h3>Java - DeepLearning 4J</h3>
        <p>
            DeepLearning 4J is a Java framework for deep learning, used for training
            the neuronal network and predicting the label of an article.
        </p>

    </section>
    <section id="inline">
        <h3>Java</h3>
        <p>
            Java is used for creating the web server of the web application.
        </p>
    </section>

    <section id="references">

        <h3>HTML & CSS</h3>
        <p>
            HTML & CSS are used for creating the interface of the application.
        </p>

    </section>

    <section>

        <h3>Heroku</h3>
        <p>
            Heroku is a service that can host our application on cloud, deploying the latest version of the project
            from the git repository.
        </p>

    </section>
</section>

<section id="semantics">
    <h2>Statistics & charts</h2>

    <section>
        <h3>1. Data about the dataset</h3>
        <ul>
            <li>Training data : $trainData</li>
            <li>Validation data : $validData</li>
            <li>Test data : $testData</li>
        </ul>
    </section>
    <section>
        <h3>2.Charts</h3>
        <ul>
            <li><img src="../files/barchart.png"> Fake to correct news ratio</li>
            <li>tbd</li>
            <li>tbd</li>
        </ul>
    </section>
    <section>
        <h3>3. The application consists of three pages. Browsing between them can be done using the navigation bar.</h3>
    </section>
</section>

<section id="diagram">

    <h2>User guide</h2>
    <p>TO BE DONE</p>
</section>


<section id="scholarly-article">

    <h2>Authors</h2>
    <p>
    <ul>
        <li>Mocanu Diana</li>
    </ul>
    </p>
    <p class="issue">
        Github repository:
        <a href="https://github.com/dianamocanu05/JAVA-UAIC/tree/master/Projects/DeepLearner">Click</a>
    </p>

</section>

<section id="ref">
    <h2> References </h2>

    <p class="issue">
        <a href=https://developers.google.com/chart>Google Charts documentation</a>
    </p>

</section>
</body>
</html>